@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

*{
    font-family: 'poppins' sans-serif;
}

.navbar{
    position:sticky;
    top: 0;
    z-index: 4;
}

.navbar-nav {
    font-family: 'poppins';
    font-weight: 500;
}

.navbar .nav-link {
    margin-left: 18px;
}

.form-inline .form-control {
    width: 800px;
}
.btn{
    color: white;
    border-color: white;
}

.navbar 

/* ---- Slider ---- */
.carousel-item {
    height: 100vh;
    min-height: 100px;
    background: no-repeat scroll center scroll;
    -webkit-background-size: cover;
    background-size: cover;
}