    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

.navbar-nav a{
    font-family: 'poppins';
    font-weight: 500;
}

.btn {
    color: #fff;
    background: linear-gradient(to right, #21367F 0%, #0298CA 100%);
    border-color: #0298CA;
    font-family: "poppins";
}

.btn:hover {
    color: #fff;
    background: linear-gradient(to right, #0298CA 0%, #21367F 100%);
    border-color: #0298CA;
}

.fa-brands {
    color: white;
    font-size: 20px;
    padding-right: 10px;
    padding-left: 10px;
}

.form-inline .form-check {
    width: 100%;
}

@media (max-width: 1200px) {
    .form-inline {
    display: inline-block;    
    }
    @media (min-width: 480px) {
        .form-inline {
        display: none;    
        }
    }
}


