@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

body {
    padding: 0;
    margin: 0;
    background-image: url(https://img.freepik.com/free-photo/two-happy-students-with-backpacks-books-their-hands-smiling-camera_8353-6384.jpg?t=st=1653576694~exp=1653577294~hmac=8f1a9c1e472222bbfdfb11de8494ea800230b9895e30eddc5f530be8bca84900&w=900);
    background-repeat: no-repeat;
    background-size:cover;
    
}
img {
    cursor: pointer;
    height: 60px;
    margin-left: 50px;
    padding: 10px;
    
}

.dropdown {
    margin: auto;
}

header {
    height: 80px;
    background-color: #025159;
    opacity: 90%;
}

nav ul {
    padding: 0;
    margin: 0;
    float: right;
    margin-right: 50px;
}

nav ul li {
    background-color: #025159;
    position: relative;
    list-style:none;
    display: inline-block;
}

nav ul li a {
    display: block;
    padding: 0 20px;
    color:aliceblue ;
    text-decoration: none;
    font-family: poppins;
    font-size: 20px;
    font-weight: 500;
    line-height: 80px;
    text-transform: uppercase;
}

nav ul li a:hover {
    background-color: #F23005;
}

nav ul ul {
    position:absolute;
    top: 80px;
    display: none;
}

nav ul li:hover > ul {
    display: block;
}

nav ul ul li {
    width: 400px;
    float: none;
    display: list-item;
    position: relative;
}

nav ul ul ul li {
    position: relative;
    top: -60px;
    letter-spacing: 150px;
}

